<div class="client-area">
    <div class="container">
        <div class="row">
            <div class="client-carousel">
                <div class="single-client">
                    <div class="client-image">
                        <a href="#">
                            <img src="../../Content/img/client/1.png" alt="" class="p-img">
                            <img src="../../Content/img/client/1-hover.png" alt="" class="s-img">
                        </a>
                    </div>
                </div>
                <div class="single-client">
                    <div class="client-image">
                        <a href="#">
                            <img src="../../Content/img/client/2.png" alt="" class="p-img">
                            <img src="../../Content/img/client/2-hover.png" alt="" class="s-img">
                        </a>
                    </div>
                </div>
                <div class="single-client">
                    <div class="client-image">
                        <a href="#">
                            <img src="../../Content/img/client/3.png" alt="" class="p-img">
                            <img src="../../Content/img/client/3-hover.png" alt="" class="s-img">
                        </a>
                    </div>
                </div>
                <div class="single-client">
                    <div class="client-image">
                        <a href="#">
                            <img src="../../Content/img/client/4.png" alt="" class="p-img">
                            <img src="../../Content/img/client/4-hover.png" alt="" class="s-img">
                        </a>
                    </div>
                </div>
                <div class="single-client">
                    <div class="client-image">
                        <a href="#">
                            <img src="../../Content/img/client/5.png" alt="" class="p-img">
                            <img src="../../Content/img/client/5-hover.png" alt="" class="s-img">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
