<div class="header-top fix">
    <div class="header-contact">
        <span class="text-theme">Contact:</span>
        <span>0088-234-675-827</span>
    </div>
    <div class="header-links">
        <a href="https://www.facebook.com/"><i class="zmdi zmdi-facebook"></i></a>
        <a href="https://twitter.com/"><i class="zmdi zmdi-twitter"></i></a>
        <a href="https://plus.google.com/"><i class="zmdi zmdi-google-plus"></i></a>
        <a href="https://www.instagram.com/"><i class="zmdi zmdi-instagram"></i></a>
        <a href="https://www.pinterest.com/"><i class="zmdi zmdi-pinterest"></i></a>
    </div>
</div>
